@font-face {
  font-family: 'Wasted';
  src: url('../fonts/Wasted.otf') format('opentype');
}
@font-face {
  font-family: 'Mad Rats';
  src: url('../fonts/Mad Rats.ttf') format('truetype');
}

@font-face {
  font-family: 'Univox';
  src: url('../fonts/univox.ttf') format('truetype');
}
@font-face {
  font-family: 'HURTM';
  src: url('../fonts/HURTM.ttf') format('truetype');
}
@font-face {
  font-family: 'Hand Made';
  src: url('../fonts/A HandMade Font.otf') format('opentype');
}
@font-face {
  font-family: 'DK Hyggelig';
  src: url('../fonts/DK Hyggelig.otf') format('opentype');
}
@font-face {
  font-family: 'Calligraphy Rope';
  src: url('../fonts/Calligraphy Rope.otf') format('opentype');
}
@font-face {
  font-family: 'DK Katzenjammer';
  src: url('../fonts/DK Katzenjammer.otf') format('opentype');
}
@font-face {
  font-family: 'DK Katzenjammer';
  src: url('../fonts/DK Katzenjammer.otf') format('truetype');
}
@font-face {
  font-family: 'Falcon Punch';
  src: url('../fonts/falconpunch.ttf') format('truetype');
}
@font-face {
  font-family: 'Vonique 92 Regular';
  src: url('../fonts/Vonique 92 Regular.otf') format('truetype');
}
@font-face {
  font-family: 'Vtks Hunt';
  src: url('../fonts/Vtks Hunt.ttf') format('truetype');
}
@font-face {
  font-family: 'Motion Picture';
  src: url('../fonts/MotionPicture_PersonalUseOnly.ttf') format('truetype');
}


